{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#e6e9ef"
  "overlay_bg"     "#ccd0da"
  "accent"         "#1e66f5"
  "text"           "#4c4f69"
  "text_on_accent" "#eff1f5"
  "border"         "#676c81"
-}}
