{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#efebd4"
  "overlay_bg"     "#e6e2cc"
  "accent"         "#3a94c5"
  "text"           "#5c6a72"
  "text_on_accent" "#fdf6e3"
  "border"         "#687566"
-}}
