{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#32302f"
  "overlay_bg"     "#5a524c"
  "accent"         "#7daea3"
  "text"           "#d4be98"
  "text_on_accent" "#282828"
  "border"         "#5a524c"
-}}
