{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#f4e8be"
  "overlay_bg"     "#e6d8ad"
  "accent"         "#45707a"
  "text"           "#654735"
  "text_on_accent" "#fbf1c7"
  "border"         "#7c6f64"
-}}
