{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#f2e9e1"
  "overlay_bg"     "#dfdad9"
  "accent"         "#286983"
  "text"           "#575279"
  "text_on_accent" "#faf4ed"
  "border"         "#736d83"
-}}
