{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#f3eadd"
  "overlay_bg"     "#e0d4c2"
  "accent"         "#0d7f9b"
  "text"           "#4a3f48"
  "text_on_accent" "#f9f2e9"
  "border"         "#6c5f6a"
-}}
