{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#efdfe9"
  "overlay_bg"     "#dbc5d4"
  "accent"         "#0d7f9b"
  "text"           "#4a3f48"
  "text_on_accent" "#f7ebf2"
  "border"         "#6c5f6a"
-}}
