{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#37343a"
  "overlay_bg"     "#49464e"
  "accent"         "#78dce8"
  "text"           "#e3e1e4"
  "text_on_accent" "#2d2a2e"
  "border"         "#49464e"
-}}
