{{ template "tmuxline.tmux.conf" dict
  "statusbar_bg"   "#e1e2e7"
  "overlay_bg"     "#c4c8da"
  "accent"         "#2e7de9"
  "text"           "#3760bf"
  "text_on_accent" "#e9e9ed"
  "border"         "#586293"
-}}
