# Ignore all files and directories by default
/*
# Except for these
!.fonts/
.fonts/.DS_Store
!.gitignore
!.gitconfig
!.gitmodules
!.zshrc
!.aliases
!.spacemacs
!Brewfile
!.oh-my-zsh/
!.emacs.d/

# Include nvim config
!.config/
.config/*
!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim