working-directory = "home"

auto-update-channel = tip

theme = "Sonokai Shusia"

font-family = ""
font-family = Pragmasevka Nerd Font
font-family-italic = Iosevka Term SS15

font-style = "Regular"
font-style-bold = "Bold"
font-style-italic = "Medium Italic"
font-style-bold-italic = "Bold Italic"

{{ if eq .chezmoi.os "darwin" }}
font-size = 11
{{ end }}

{{ if eq .chezmoi.os "linux" }}
font-size = 8.5
{{ end }}

# I want the cursor-color to be as bright and visible as possible
cursor-color = "#03fc07"
adjust-underline-position = 4
adjust-underline-thickness = -1
#adjust-cell-height = 5%

shell-integration = detect

{{ if eq .chezmoi.os "darwin" }}
fullscreen = false
macos-non-native-fullscreen = false
macos-auto-secure-input = true
macos-secure-input-indication = true
macos-option-as-alt = left
macos-titlebar-style = transparent

window-colorspace = "display-p3"

custom-shader = shaders/cursor_smear_fade.glsl
{{ end }}

background-opacity = 0.93
background-blur-radius = 20

window-padding-balance = true
window-padding-x = 10
window-padding-y = 10
window-vsync = true

bold-is-bright = true
